---
BasedOnStyle: WebKit

AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true
  BeforeLambdaBody: false
  AfterCaseLabel: true
  AfterControlStatement: true
  AfterFunction: true
BreakConstructorInitializers: AfterColon
ColumnLimit: 140
ConstructorInitializerAllOnOneLineOrOnePerLine: true
NamespaceIndentation: All
PointerAlignment: Right