[submodule "Source/Core/External/zstd"]
	path = Source/Core/External/zstd
	url = https://github.com/facebook/zstd.git
[submodule "Source/Core/Resources/EncounterTables"]
	path = Source/Core/Resources/EncounterTables
	url = https://github.com/Admiral-Fish/EncounterTableGenerator
