# CMake
build
CMakeLists.txt.user*

# VS Code
.vscode

# VS
.vs
CMakeSettings.json
CppProperties.json
out

# Resource files
i18n.hpp
EncounterData*.hpp
Personal.hpp
IVs.hpp
*.pyc

# Test resource files
Enum.cpp
Enum.hpp