environment:
  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu2004
    OS: linux
    APPVEYOR_SSH_KEY: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDGUPFaVfulnBIIdCtCIV0zn3P+9O9YA8rEzxHQzsRecFxYmHMDyrg5SlbGZUMRyDJ7W6JPy51YWRqHXs3D3RW1uPGlc1+mRMtN1ATansQMieDM4tbKjL3cPQfbOUv8WMeD02bF5/t+a10hH4jWW0FWdJ3jDuNdCWVCB/YE3MSrjims4z9tNXPFJ3TJ8Ilg/nU8alury/Wu8WIE0n3hJqngNNFTVAFocBp65X0v0QWzMu1q8nGIuQ2FAnYvw4dcUJaTVop1y8sf1U6MD01A3voWev+b6+47jZ+0FKufMLiOwuS2cSLdDcwvfc+FylszXYtxkU+qUNH9SSC41FhiAR65
  - APPVEYOR_BUILD_WORKER_IMAGE: macos
    OS: macOS
    APPVEYOR_SSH_KEY: ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDGUPFaVfulnBIIdCtCIV0zn3P+9O9YA8rEzxHQzsRecFxYmHMDyrg5SlbGZUMRyDJ7W6JPy51YWRqHXs3D3RW1uPGlc1+mRMtN1ATansQMieDM4tbKjL3cPQfbOUv8WMeD02bF5/t+a10hH4jWW0FWdJ3jDuNdCWVCB/YE3MSrjims4z9tNXPFJ3TJ8Ilg/nU8alury/Wu8WIE0n3hJqngNNFTVAFocBp65X0v0QWzMu1q8nGIuQ2FAnYvw4dcUJaTVop1y8sf1U6MD01A3voWev+b6+47jZ+0FKufMLiOwuS2cSLdDcwvfc+FylszXYtxkU+qUNH9SSC41FhiAR65

install:
    - git submodule update --init --recursive
    - sh: bash .ci/install.sh
    
before_build:
    - cmd: set PATH=%QTPATH%\bin;C:\Qt\Tools\QtCreator\bin;%PATH%
    - cmd: call %VCVARSALLPATH% %VCVARSALL%
    
build_script:
    - mkdir build
    - cd build
    - cmd: cmake -G"NMake Makefiles" -DCMAKE_BUILD_TYPE=RELEASE -DTEST=ON ../
    - sh: export APPVEYOR_SSH_BLOCK=true
    - sh: curl -sflL 'https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-ssh.sh' | bash -e -
    - sh: bash ../.ci/build.sh
    - cmake --build . -j 4
    - ctest -V
    
after_build:
    - cd ..
    - cmd: md PokeFinder-windows
    - cmd: move build\Source\Forms\PokeFinder.exe PokeFinder-windows\PokeFinder.exe
    - cmd: windeployqt --no-translations --no-plugins --no-opengl-sw --no-system-d3d-compiler PokeFinder-windows\PokeFinder.exe
    - cmd: del PokeFinder-windows\vc_redist*.exe
    - cmd: xcopy /I %QTPATH%\plugins\platforms\qwindows.dll PokeFinder-windows\platforms\
    - cmd: xcopy /I %QTPATH%\plugins\styles\qwindowsvistastyle.dll PokeFinder-windows\styles\
    - cmd: xcopy /I %OpenSSL%\libcrypto*.dll PokeFinder-windows\
    - cmd: xcopy /I %OpenSSL%\libssl*.dll PokeFinder-windows\
    - cmd: 7z a PokeFinder-win.zip PokeFinder-windows\
    - cmd: sha256sum PokeFinder-win.zip > PokeFinder-win.zip.sha256
    - sh: bash .ci/after_build.sh
    
artifacts:
- path: PokeFinder-%OS%.zip
- path: PokeFinder-%OS%.zip.sha256

deploy:
    provider: GitHub
    description: ''
    auth_token:
        secure: SFsouaBlVG46u5QjtuDZMhTxq9FHVPr1BRF6YwNJhOtlj+vk707p3MEzHttr7Vep
    artifact: PokeFinder-%OS%.zip,PokeFinder-%OS%.zip.sha256
    on:
        APPVEYOR_REPO_TAG: true
