environment:
  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
    QTPATH: C:\Qt\6.2\msvc2019_64
    OpenSSL: C:\OpenSSL-v111-Win64\bin
    OS: win
    EXT: zip
    VCVARSALLPATH: C:\"Program Files\Microsoft Visual Studio"\2022\Community\VC\Auxiliary\Build\vcvars64.bat
  - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu2004
    QTVER: 6.2
    OS: linux
    EXT: tar.gz
  - APPVEYOR_BUILD_WORKER_IMAGE: macos
    QTVER: 6.2
    OS: macOS
    EXT: tar.gz

install:
    - git submodule update --init
    - cmd: pip install requests
    - sh: bash .ci/install.sh
    
before_build:
    - cmd: set PATH=%QTPATH%\bin;%PATH%
    - cmd: call %VCVARSALLPATH%
    
build_script:
    - mkdir build
    - cd build
    - cmd: cmake -G"NMake Makefiles" -DCMAKE_BUILD_TYPE=RELEASE -DTEST=ON ../
    - sh: bash ../.ci/build.sh
    - cmake --build . -j 4
    - ctest -V
    
after_build:
    - cd ..
    - cmd: md PokeFinder-windows
    - cmd: move build\Source\PokeFinder.exe PokeFinder-windows\PokeFinder.exe
    - cmd: windeployqt --no-translations --no-plugins --no-opengl-sw --no-system-d3d-compiler PokeFinder-windows\PokeFinder.exe
    - cmd: del PokeFinder-windows\vc_redist*.exe
    - cmd: xcopy /I %QTPATH%\plugins\platforms\qwindows.dll PokeFinder-windows\platforms\
    - cmd: xcopy /I %QTPATH%\plugins\styles\qwindowsvistastyle.dll PokeFinder-windows\styles\
    - cmd: xcopy /I %OpenSSL%\libcrypto*.dll PokeFinder-windows\
    - cmd: xcopy /I %OpenSSL%\libssl*.dll PokeFinder-windows\
    - cmd: 7z a PokeFinder-win.zip PokeFinder-windows\
    - cmd: sha256sum PokeFinder-win.zip > PokeFinder-win.zip.sha256
    - sh: bash .ci/after_build.sh
    
artifacts:
- path: PokeFinder-%OS%.%EXT%
- path: PokeFinder-%OS%.%EXT%.sha256

deploy:
    provider: GitHub
    description: ''
    auth_token:
        secure: SFsouaBlVG46u5QjtuDZMhTxq9FHVPr1BRF6YwNJhOtlj+vk707p3MEzHttr7Vep
    artifact: PokeFinder-%OS%.%EXT%,PokeFinder-%OS%.%EXT%.sha256
    on:
        APPVEYOR_REPO_TAG: true
