environment:
  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
    QTPATH: C:\Qt\5.15\msvc2019_64
    OpenSSL: C:\OpenSSL-v111-Win64\bin
    OS: win
    VCVARSALLPATH: C:\"Program Files (x86)\Microsoft Visual Studio"\2019\Community\VC\Auxiliary\Build\vcvarsall.bat
    VCVARSALL: x64
  - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu2004
    OS: linux
  - APPVEYOR_BUILD_WORKER_IMAGE: macos-mojave
    OS: macOS

install:
    - git submodule update --init --recursive
    - sh: bash .ci/install.sh
    
before_build:
    - cmd: set PATH=%QTPATH%\bin;C:\Qt\Tools\QtCreator\bin;%PATH%
    - cmd: call %VCVARSALLPATH% %VCVARSALL%
    
build_script:
    - mkdir build
    - cd build
    - cmd: cmake -G"NMake Makefiles" -DCMAKE_BUILD_TYPE=RELEASE -DTEST=ON ../
    - sh: bash ../.ci/build.sh
    - cmake --build .
    - ctest -V
    
after_build:
    - cd ..
    - cmd: md PokeFinder-windows
    - cmd: move build\Source\Forms\PokeFinder.exe PokeFinder-windows\PokeFinder.exe
    - cmd: windeployqt --no-translations --no-angle --no-plugins --no-opengl-sw PokeFinder-windows\PokeFinder.exe
    - cmd: del PokeFinder-windows\vc_redist*.exe
    - cmd: xcopy /I %QTPATH%\plugins\platforms\qwindows.dll PokeFinder-windows\platforms\
    - cmd: xcopy /I %QTPATH%\plugins\styles\qwindowsvistastyle.dll PokeFinder-windows\styles\
    - cmd: xcopy /I %OpenSSL%\libcrypto*.dll PokeFinder-windows\
    - cmd: xcopy /I %OpenSSL%\libssl*.dll PokeFinder-windows\
    - cmd: 7z a PokeFinder-win.zip PokeFinder-windows\
    - cmd: sha256sum PokeFinder-win.zip > PokeFinder-win.zip.sha256
    - sh: bash .ci/after_build.sh
    
artifacts:
- path: PokeFinder-%OS%.zip
- path: PokeFinder-%OS%.zip.sha256

deploy:
    provider: GitHub
    description: ''
    auth_token:
        secure: SFsouaBlVG46u5QjtuDZMhTxq9FHVPr1BRF6YwNJhOtlj+vk707p3MEzHttr7Vep
    artifact: PokeFinder-%OS%.zip,PokeFinder-%OS%.zip.sha256
    on:
        APPVEYOR_REPO_TAG: true
