name: CI - Windows

on:
  push:
    branches:
      - "master"
      - "feature/**"
    tags:
      - "v[0-9]+\\.[0-9]+\\.[0-9]+"
  pull_request:

jobs:
  ci:
    name: Build
    runs-on: windows-2022

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Restore Git Mtimes
        uses: ./.github/actions/git-mtime-cache

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: "6.8.3"
          archives: qtbase qtsvg qttools
          tools: tools_opensslv3_x64
          cache: true
          arch: "win64_msvc2022_64"

      - name: Install python zstandard pip Package
        run: python3 -m pip install zstandard

      - name: Restore CMake build files
        id: cache
        uses: actions/cache/restore@v5
        env:
          cache-name: windows-cmake-build
        with:
          path: |
            ${{github.workspace}}/build
            ${{github.workspace}}/Test/*.hpp
            ${{github.workspace}}/Core/Resources/*.hpp
          key: ${{env.cache-name}}-${{hashFiles('**/CMakeLists.txt')}}-${{github.head_ref}}-${{github.run_id}}
          restore-keys: |
            ${{env.cache-name}}-${{hashFiles('**/CMakeLists.txt')}}-${{github.head_ref}}
            ${{env.cache-name}}-${{hashFiles('**/CMakeLists.txt')}}
            ${{env.cache-name}}-

      - name: Store File Mtimes
        uses: ./.github/actions/file-mtime-cache
        with:
          mode: save
          files: |
            ${{github.workspace}}/Test/*.hpp
            ${{github.workspace}}/Core/Resources/*.hpp

      - name: Configure CMake
        run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=RELEASE -DTEST=ON

      - name: Restore Unmodified File Mtimes
        uses: ./.github/actions/file-mtime-cache
        with:
          mode: restore
          files: |
            ${{github.workspace}}/Test/*.hpp
            ${{github.workspace}}/Core/Resources/*.hpp

      - name: Build PokeFinder
        run: cmake --build ${{github.workspace}}/build --config RELEASE

      - name: Test PokeFinder
        run: ctest --test-dir ${{github.workspace}}/build -C RELEASE -V

      - name: Save CMake build files
        uses: actions/cache/save@v5
        with:
          path: |
            ${{github.workspace}}/build
            ${{github.workspace}}/Test/*.hpp
            ${{github.workspace}}/Core/Resources/*.hpp
          key: ${{steps.cache.outputs.cache-primary-key}}

      - name: Package PokeFinder
        run: |
          mkdir PokeFinder
          mkdir PokeFinder/platforms
          mkdir PokeFinder/styles
          mv build/Release/PokeFinder.exe PokeFinder
          windeployqt --no-translations --no-plugins --no-opengl-sw --no-system-d3d-compiler PokeFinder/PokeFinder.exe
          rm PokeFinder/vc_redist*.exe
          cp "${{env.QT_ROOT_DIR}}/plugins/platforms/qwindows.dll" PokeFinder/platforms/
          cp "${{env.QT_ROOT_DIR}}/plugins/styles/qmodernwindowsstyle.dll" PokeFinder/styles/
          cp "${{env.QT_ROOT_DIR}}/../../Tools/OpenSSLv3/Win_x64/bin/lib*.dll" PokeFinder
          7z a PokeFinder-win.zip PokeFinder
          mkdir upload && mv PokeFinder upload

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: PokeFinder-windows
          path: upload

      - name: Publish Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: PokeFinder-win.zip
